<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Setup Database connection string-->
  <connectionStrings>
    <remove name="DefaultConnection" />
    <add name="DefaultConnection" connectionString="Data Source=DELL-FICKYM;Initial Catalog=Customer_DB;User ID=sa;Password=P@ssw0rd; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>